
./ChemicaLearnTest/GoogleService-Info.plist
.DS_Store
*.plist
./ChemicaLearnTest/Info.plist
ChemicaLearn.xcodeproj/project.xcworkspace/xcuserdata/rahulramjeawon.xcuserdatad/UserInterfaceState.xcuserstate


# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
## User settings
xcuserdata/
## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout
## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
## IDE
.idea/
*.xcuserstate
/ChemicaLearn.xcodeproj/project.xcworkspace/xcuserdata
/ChemicaLearn.xcodeproj/project.xcworkspace
/ChemicaLearn.xcodeproj/project.xcworkspace/xcuserdata/rahulramjeawon.xcuserdatad
/ChemicaLearn.xcodeproj
ChemicaLearn.xcodeproj/project.xcworkspace/xcuserdata/rahulramjeawon.xcuserdatad/UserInterfaceState.xcuserstate
