
./ChemicaLearnTest/GoogleService-Info.plist
.DS_Store
*.plist
./ChemicaLearnTest/Info.plist
ChemicaLearn.xcodeproj/project.xcworkspace/xcuserdata/rahulramjeawon.xcuserdatad/UserInterfaceState.xcuserstate
